@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// HEADER

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  box-shadow: 0 0 15px rgba(56, 103, 255, 0.25);
  nav {
    ul {
      margin-bottom: 0%;
      li {
        display: inline-block;
        padding: 0px 20px;
        font-size: 25px;
        a {
          text-decoration: none;
          color: #324ce4;
          font-size: 17px;
          font-weight: 500;
          &::after {
            content: "";
            width: 0%;
            height: 2px;
            background: #324ce4;
            display: block;
            margin: auto;
            transition: 0.5s;
          }
          &:hover {
            color: #324ce4;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
  .logo {
    width: 50px;
    height: auto;
    position: relative;
    float: left;
  }
  .iconosNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    a {
      margin: 10px;
      i {
        color: #324ce4;
      }
    }
  }
}

// BODY

.textoCuotas {
  background-color: #324ce4;
  justify-content: center;
  p {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}

.search {
  display: none;
}

// CLASES PARA LA CARD

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h5 {
    min-height: 38.4px;
    max-height: 48px;
    font-size: 1rem;
  }
}

.divPrecio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.card {
  height: 21rem;
}

.imgHeight {
  min-height: 214px;
  max-height: 214px;
  display: flex;
  align-items: center;
}

//MI CUENTA
.headerMiCuenta {
  background: no-repeat;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  .logo {
    width: 50px;
    height: auto;
    float: left;
  }
}

.hide {
  display: none;
}

.fondoCuenta {
  background-image: url(https://wallpaperaccess.com/full/750472.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.divLogIn {
  background-color: rgb(31, 34, 41);
}

#colorWhiteCarrito {
  color: white;
}

//CARRITO
.sectionCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentTable {
  border: solid #324ce4 0.5px;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1000px;
  font-weight: 500;
  thead {
    text-align: center;
    tr {
      color: #324ce4;
      text-align: unset;
      padding: 10px 10px;
      th {
        padding: 20px;
      }
    }
  }

  #unsetText {
    padding-left: 40px;
    text-align: start;
  }
  .tableBody {
    color: #324ce4;
    width: 20px;
    height: 30px;
    padding: 12px 15px;
    text-align: center;
    border-top: 1px solid;
    tr {
      td {
        padding-top: 20px;
      }
    }
  }
}

.imgCarrito {
  width: 20%;
  padding-top: 10px;
  padding-left: 5px;
  height: auto;
  display: flex;
  justify-content: start;
}

.textoCarritoVacio {
  padding-left: 20px;
  text-align: start;
}
