@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

// HEADER

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  box-shadow: 0 0 15px rgba(56, 103, 255, 0.25);
  nav {
    ul {
      margin-bottom: 0%;
      li {
        display: inline-block;
        padding: 0px 20px;
        font-size: 25px;
        a {
          text-decoration: none;
          color: #324ce4;
          font-size: 17px;
          font-weight: 500;
          &::after {
            content: "";
            width: 0%;
            height: 1.5px;
            background: #324ce4;
            display: block;
            margin: auto;
            transition: 0.25s;
          }
          &:hover {
            color: #324ce4;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
  .logo {
    width: 50px;
    height: auto;
    position: relative;
    float: left;
  }
  .iconosNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    a {
      margin: 10px;
      i {
        color: #324ce4;
      }
    }
  }
}

// BODY

.textoCuotas {
  background-color: #324ce4;
  justify-content: center;
  p {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
  }
}

.search {
  display: none;
}

// CLASES PARA LA CARD

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h5 {
    min-height: 38.4px;
    max-height: 48px;
    font-size: 1rem;
  }
}

.divPrecio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.card {
  height: 21rem;
  transition: 0.15s;
  &:hover {
    --shadow-color: 0deg 0% 58%;
    box-shadow: 0.3px 0.9px 1.1px hsl(var(--shadow-color) / 0.29),
      0.7px 2.4px 2.8px -0.6px hsl(var(--shadow-color) / 0.29),
      1.3px 4.6px 5.4px -1.2px hsl(var(--shadow-color) / 0.29),
      2.6px 9.3px 10.9px -1.9px hsl(var(--shadow-color) / 0.29),
      5px 17.9px 20.9px -2.5px hsl(var(--shadow-color) / 0.29);
  }
}

.imgHeight {
  min-height: 214px;
  max-height: 214px;
  display: flex;
  align-items: center;
}

//MI CUENTA
.headerMiCuenta {
  background: no-repeat;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  .logo {
    width: 50px;
    height: auto;
    float: left;
  }
}

.hide {
  display: none;
}

.fondoCuenta {
  background-image: url(../images/fondov2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.divLogIn {
  background-color: rgb(31, 34, 41);
}

#colorWhiteCarrito {
  color: white;
}

//CARRITO
.sectionCarrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contentTable {
  border: solid #324ce4 0.5px;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1000px;
  font-weight: 500;
  thead {
    text-align: center;
    tr {
      color: #324ce4;
      text-align: unset;
      padding: 10px 10px;
      th {
        padding: 20px;
      }
    }
  }

  #unsetText {
    padding-left: 40px;
    text-align: start;
  }
  .tableBody {
    color: #324ce4;
    width: 20px;
    height: 30px;
    padding: 12px 15px;
    text-align: center;
    border-top: 1px solid;
    tr {
      td {
        padding-top: 20px;
      }
    }
  }
}

.imgCarrito {
  width: 20%;
  padding-top: 10px;
  padding-left: 5px;
  height: auto;
  display: flex;
  justify-content: start;
}

.textoCarritoVacio {
  padding-left: 20px;
  text-align: start;
}

// TACHO DE BASURA Y DE CARRITO VACIO
.tachoBasura {
  color: #324ce4;
  &:hover {
    color: rgb(221, 51, 51);
  }
}
.fs-1,
.fa-bag-shopping {
  color: #324ce4;
}

// BOTONES DE COOMPRAR, VACIAR Y CERRAR SESION
.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #0b5ed7;
  font-size: 15px;
  transition: 0.3s;
}

.btn1:hover,
.btn1:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.btn1 {
  --color: #0b5ed7;
  --hover: rgb(221, 51, 51);
}

.btn2 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #0b5ed7;
  font-size: 15px;
  transition: 0.3s;
}

.btn2:hover,
.btn2:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.btn2 {
  --color: #0b5ed7;
  --hover: rgb(221, 51, 51);
}
// CLASES PARA BACKGROUND DPS DEL CONFIRM
.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)
  > .swal2-modal {
  background-color: #1f2229;
}
