@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 5%;
  -webkit-box-shadow: 0 0 15px rgba(56, 103, 255, 0.25);
  box-shadow: 0 0 15px rgba(56, 103, 255, 0.25);
}

header nav ul {
  margin-bottom: 0%;
}

header nav ul li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: #324ce4;
  font-size: 17px;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.5px;
  background: #324ce4;
  display: block;
  margin: auto;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

header nav ul li a:hover {
  color: #324ce4;
}

header nav ul li a:hover::after {
  width: 100%;
}

header .logo {
  width: 50px;
  height: auto;
  position: relative;
  float: left;
}

header .iconosNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 50px;
}

header .iconosNav a {
  margin: 10px;
}

header .iconosNav a i {
  color: #324ce4;
}

.textoCuotas {
  background-color: #324ce4;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.textoCuotas p {
  color: white;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.search {
  display: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row h5 {
  min-height: 38.4px;
  max-height: 48px;
  font-size: 1rem;
}

.divPrecio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.card {
  height: 21rem;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.card:hover {
  --shadow-color: 0deg 0% 58%;
  box-shadow: 0.3px 0.9px 1.1px hsl(var(--shadow-color) / 0.29),
    0.7px 2.4px 2.8px -0.6px hsl(var(--shadow-color) / 0.29),
    1.3px 4.6px 5.4px -1.2px hsl(var(--shadow-color) / 0.29),
    2.6px 9.3px 10.9px -1.9px hsl(var(--shadow-color) / 0.29),
    5px 17.9px 20.9px -2.5px hsl(var(--shadow-color) / 0.29);
}

.imgHeight {
  min-height: 214px;
  max-height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headerMiCuenta {
  background: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding: 10px;
}

.headerMiCuenta .logo {
  width: 50px;
  height: auto;
  float: left;
}

.hide {
  display: none;
}

.fondoCuenta {
  background-image: url(../images/fondov2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.divLogIn {
  background-color: #1f2229;
}

#colorWhiteCarrito {
  color: white;
}

.sectionCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contentTable {
  border: solid #324ce4 0.5px;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1000px;
  font-weight: 500;
}

.contentTable thead {
  text-align: center;
}

.contentTable thead tr {
  color: #324ce4;
  text-align: unset;
  padding: 10px 10px;
}

.contentTable thead tr th {
  padding: 20px;
}

.contentTable #unsetText {
  padding-left: 40px;
  text-align: start;
}

.contentTable .tableBody {
  color: #324ce4;
  width: 20px;
  height: 30px;
  padding: 12px 15px;
  text-align: center;
  border-top: 1px solid;
}

.contentTable .tableBody tr td {
  padding-top: 20px;
}

.imgCarrito {
  width: 20%;
  padding-top: 10px;
  padding-left: 5px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.textoCarritoVacio {
  padding-left: 20px;
  text-align: start;
}

.tachoBasura {
  color: #324ce4;
}

.tachoBasura:hover {
  color: #dd3333;
}

.fs-1,
.fa-bag-shopping {
  color: #324ce4;
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #0b5ed7;

  font-size: 15px;
  transition: 0.3s;
}

.btn1:hover,
.btn1:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.btn1 {
  --color: #0b5ed7;
  --hover: rgb(221, 51, 51);
}

.btn2 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #0b5ed7;

  font-size: 15px;
  transition: 0.3s;
}

.btn2:hover,
.btn2:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.btn2 {
  --color: #0b5ed7;
  --hover: #00b347;
}
/*CLASES PARA BACKGROUND DPS DEL CONFIRM*/
.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)
  > .swal2-modal {
  background-color: #1f2229;
}

/*CARRUSEL*/

@import 'nib'

body
  height 100vh
  width 100vw
  display flex
  align-items center
  justify-content center
  background white
  font-size 16px
  font-family 'proxima nova', 'open sans', 'Helvetica', sans-serif
  
.Marquee
  background linear-gradient(-135deg, #008ed9, #8b00db);
  width 85vw
  box-sizing border-box
  padding 1em
  color white
  font-weight 200
  display flex
  align-items center
  overflow hidden

  &-content
    display flex
    animation marquee 10s linear infinite running
    &:hover
      animation-play-state paused

  &-tag
    width 200px
    margin 0 .5em
    padding .5em
    background rgba(255, 255, 255, .1)
    display inline-flex
    align-items center
    justify-content center
    transition all .2s ease
    &:hover
      background rgba(255, 255, 255, .5)
      transform scale(1.1)
      cursor pointer
  
    
    
@keyframes marquee
  0%
    transform translateX(0)
  100%
    transform translate(-50%)
/*# sourceMappingURL=style.css.map */
