@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
  -webkit-box-shadow: 0 0 15px rgba(56, 103, 255, 0.25);
          box-shadow: 0 0 15px rgba(56, 103, 255, 0.25);
}

header nav ul {
  margin-bottom: 0%;
}

header nav ul li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: #324ce4;
  font-size: 17px;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #324ce4;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav ul li a:hover {
  color: #324ce4;
}

header nav ul li a:hover::after {
  width: 100%;
}

header .logo {
  width: 50px;
  height: auto;
  position: relative;
  float: left;
}

header .iconosNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
}

header .iconosNav a {
  margin: 10px;
}

header .iconosNav a i {
  color: #324ce4;
}

.textoCuotas {
  background-color: #324ce4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.textoCuotas p {
  color: white;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.search {
  display: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.divPrecio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card {
  height: 21rem;
}

.imgHeight {
  min-height: 214px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mousepadAltura {
  max-height: 214px;
}

.sectionCarrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentTable {
  border: solid #324ce4 0.5px;
  margin: 25px 0;
  font-size: 0.9em;
  width: 1000px;
  font-weight: 500;
}

.contentTable thead {
  text-align: center;
}

.contentTable thead tr {
  color: #324ce4;
  text-align: unset;
  padding: 10px 10px;
}

.contentTable thead tr th {
  padding: 15px 10px;
}

.contentTable #unsetText {
  padding-left: 40px;
  text-align: start;
}

.contentTable .tableBody {
  color: #324ce4;
  width: 20px;
  height: 30px;
  padding: 12px 15px;
  text-align: center;
  border-top: 1px solid;
}

.contentTable .tableBody tr td {
  padding-top: 20px;
}

.imgCarrito {
  width: 20%;
  padding-top: 10px;
  padding-left: 5px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.textoCarritoVacio {
  padding-left: 20px;
  text-align: start;
}
/*# sourceMappingURL=style.css.map */